.recommend {
    margin-top: 200px;
    margin-bottom: 100px;

    &-title {
        font-weight: 700;
        @include adaptive-value('font-size', 40, 28);
        text-align: center;
        padding-bottom: 64px;
        color: rgb(52 51 74);
        letter-spacing: 0.66px;
    }

    &-cards {
        @include flex(center, space-between);
        gap: 15px;
        flex-wrap: wrap;

        @media screen and (max-width: 1180px) {
            justify-content: center;
        }
    }

    &-card {
        width: 370px;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: hidden;
        cursor: text;

        &:hover &_img {
            transform: scale(1.1);
        }

        &_img {
            width: 100%;
            height: 320px;
            border-radius: 10px 10px 0 0;
            transition: transform 0.4s ease;
        }
    }

    &-items {
        @include flex(center, space-between);
    }

    &-info {
        padding-top: 20px;
        @include flex(start, unset);
        flex-direction: column;
        gap: 10px;
    }

    &-book_link {
        display: block;
        border-radius: 8px;
        padding: 12px 28px;
        background: $green;
        font-weight: 500;
        @include adaptive-value('font-size', 16, 14);
        color: #fff;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &-texts {
        padding: 30px 20px 20px 20px;
    }

    &-name {
        font-weight: 500;
        font-size: 17px;
    }

    &-price {
        font-weight: 500;
        font-size: 17px;
    }

    &-location {
        font-weight: 500;
        font-size: 17px;
        @include flex(center, unset);
        gap: 10px;

    }

    &-length {
        font-weight: 500;
        font-size: 17px;
        @include flex(center, unset);
        gap: 10px;
    }
}